// Variables

@brand-primary: rgba(165,240,208,1);
//@brand-primary: rgba(130,204,171,1);
@brand-primary-darken: rgba(139,213,181,1);
@white:white;
@brand-danger: #e74c3c;
@gray-darkest: #222;
@gray: #777;
@gray-lighter: #f7f7f7;
@placeholder-text: #bbbbbb;
